## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [1]:
#Import package
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/dat/imdb_data.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
df.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
def convert_list(l1):
  return eval(l1)

In [ ]:
df.loc[~df['cast'].isna(), 'cast'] = df.loc[~df['cast'].isna(), 'cast'].apply(convert_list)

In [ ]:
df.loc[~df['crew'].isna(), 'crew'] = df.loc[~df['crew'].isna(), 'crew'].apply(convert_list)

In [ ]:
df['profit'] = df['revenue'] - df['budget']

In [ ]:
df['profit'].max()

1316249360

In [ ]:
df[df['profit'] == df['profit'].max()]['title']

1761    Furious 7
Name: title, dtype: object

In [ ]:
list_of_crew= df[df['profit'] == df['profit'].max()]['crew'][1761]

In [ ]:
df['profit'].idxmax()

1761

In [ ]:
director_list= []
producer_list = []
for elem in list_of_crew:
  if elem['job'] == 'Director':
    director_list.append(elem['name'])
  elif elem['job'] == 'Producer':
    producer_list.append(elem['name'])

In [ ]:
director_list

['James Wan']

In [ ]:
producer_list

['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']

# 2

In [ ]:
df.loc[df['budget']<=1000, 'budget'] = df['budget'].median()
df.loc[df['revenue']<=1000, 'revenue'] = df['revenue'].median()

In [ ]:
df['profit'] = df['revenue'] - df['budget']

In [ ]:
df['roi'] = df['profit']/df['budget']*100

In [ ]:
roi_over_language = pd.DataFrame(df.groupby('original_language')['roi'].mean())
roi_over_language.reset_index(inplace = True)

In [ ]:
roi_over_language[roi_over_language['roi'] == roi_over_language['roi'].max()]

   original_language           roi
18                ko  11309.685605

# 3

In [ ]:
list_of_all_genres = []
def extract_genre(list_of_genre):
  for genre in list_of_genre:
    list_of_all_genres.append(genre['name'])

In [ ]:
df.loc[~df['genres'].isna(), 'genres'] = df.loc[~df['genres'].isna(), 'genres'].apply(convert_list)

In [ ]:
df_genre = df[~df['genres'].isna()]

In [ ]:
df_genre[['title','genres']]

,title,genres
0,Hot Tub Time Machine 2,"[{'id': 35, 'name': 'Comedy'}]"
1,The Princess Diaries 2: Royal Engagement,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
2,Whiplash,"[{'id': 18, 'name': 'Drama'}]"
3,Kahaani,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n..."
4,Marine Boy,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
...,...,...
2995,Chasers,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '..."
2996,We Are the Best!,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n..."
2997,The Long Kiss Goodnight,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name..."
2998,Along Came Polly,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '..."
2999,Abduction,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n..."

In [ ]:
df_genre['genres'].apply(extract_genre)

0       None
1       None
2       None
3       None
4       None
        ...
2995    None
2996    None
2997    None
2998    None
2999    None
Name: genres, Length: 2993, dtype: object

In [ ]:
set(list_of_all_genres)

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

# 4

In [ ]:
def get_list_of_producers(list_of_crew):
  producer_list = []
  for crew in list_of_crew:
    if crew['job'] == 'Producer':
      producer_list.append(crew['name'])
  return producer_list

In [ ]:
def get_director(list_of_crew):
  producer_list = []
  for crew in list_of_crew:
    if crew['job'] == 'Director':
      return crew['name']

In [ ]:
df_list_dir_prod = df[~df['crew'].isna()]

In [ ]:
df_list_dir_prod['list_of_producer'] = df_list_dir_prod['crew'].apply(get_list_of_producers)
df_list_dir_prod['Director'] = df_list_dir_prod['crew'].apply(get_director)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_list_dir_prod[['title','list_of_producer', 'Director', 'roi']].sort_values('roi', ascending = False).iloc[0:3,:]

,title,list_of_producer,Director,roi
1230,Paranormal Activity,"[Jason Blum, Oren Peli, Amir Zbeda]",Oren Peli,1.288939e+06
1679,The Blair Witch Project,"[Robin Cowie, Gregg Hale]",Daniel Myrick,4.132333e+05
2610,The Tiger: An Old Hunter's Tale,[],Park Hoon-Jung,2.215690e+05

#5

In [ ]:
df_cast = df[~df['cast'].isnull()]

In [ ]:
freq_dict = {}
def create_freq_dict(row):
  for cast in row:
    name = cast['name']
    if name in freq_dict:
      freq_dict[name] = freq_dict[name]+1
    else:
      freq_dict[name] = 1

In [ ]:
df_cast['cast'].apply(create_freq_dict)

0       None
1       None
2       None
3       None
4       None
        ...
2995    None
2996    None
2997    None
2998    None
2999    None
Name: cast, Length: 2987, dtype: object

In [ ]:
actor_sorted_dict = dict(sorted(freq_dict.items(), key=lambda item: item[1], reverse = True))

In [ ]:
actor_sorted_dict

{'Samuel L. Jackson': 30,
 'Robert De Niro': 30,
 'Morgan Freeman': 27,
 'J.K. Simmons': 25,
 'Bruce Willis': 25,
 'Liam Neeson': 25,
 'Susan Sarandon': 25,
 'Bruce McGill': 24,
 'John Turturro': 24,
 'Forest Whitaker': 23,
 'Willem Dafoe': 23,
 'Bill Murray': 22,
 'Owen Wilson': 22,
 'Nicolas Cage': 22,
 'Sylvester Stallone': 21,
 'Jason Statham': 21,
 'Keith David': 21,
 'John Goodman': 21,
 'Mel Gibson': 21,
 'Sigourney Weaver': 21,
 'Frank Welker': 20,
 'Michael Caine': 20,
 'George Clooney': 20,
 'Denzel Washington': 20,
 'Robert Duvall': 20,
 'Ed Harris': 20,
 'Dennis Quaid': 20,
 'Richard Jenkins': 20,
 'Matt Damon': 20,
 'Christopher Plummer': 19,
 'Gene Hackman': 19,
 'Christopher Walken': 19,
 'William H. Macy': 19,
 'James Franco': 19,
 'Jim Broadbent': 19,
 'John C. Reilly': 19,
 'Kevin Bacon': 19,
 'Christian Bale': 19,
 'Alec Baldwin': 19,
 'Allison Janney': 18,
 'Brian Cox': 18,
 'John Leguizamo': 18,
 'Julianne Moore': 18,
 'Robert Downey Jr.': 18,
 'Michael Shannon': 18,
 'Steve Buscemi': 18,
 'Tom Hanks': 18,
 'Mark Wahlberg': 18,
 'John Cusack': 17,
 'Carla Gugino': 17,
 'Harrison Ford': 17,
 'Cate Blanchett': 17,
 'Ray Liotta': 17,
 'Stanley Tucci': 17,
 'Colleen Camp': 17,
 'Kevin Dunn': 17,
 'Julia Roberts': 17,
 'Philip Seymour Hoffman': 17,
 'Catherine Keener': 17,
 'Cheech Marin': 17,
 'Ethan Hawke': 17,
 'Bradley Cooper': 17,
 'Vince Vaughn': 16,
 'Danny DeVito': 16,
 'James Woods': 16,
 'Colin Farrell': 16,
 'Peter Stormare': 16,
 'Ben Affleck': 16,
 'Dennis Hopper': 16,
 'Arnold Schwarzenegger': 16,
 'Keanu Reeves': 16,
 'Johnny Depp': 16,
 'Brendan Gleeson': 16,
 'John Hurt': 16,
 'Meryl Streep': 16,
 'Philip Ettington': 16,
 'Jason Bateman': 16,
 'Robin Williams': 16,
 'Ewan McGregor': 16,
 'David Koechner': 16,
 'Sean Connery': 16,
 'James Earl Jones': 15,
 'Chris Cooper': 15,
 'Harvey Keitel': 15,
 'Dwayne Johnson': 15,
 'Tom Cruise': 15,
 'Gary Oldman': 15,
 'Donald Sutherland': 15,
 'Kurt Russell': 15,
 'Woody Harrelson': 15,
 'Patrick Stewart': 15,
 'Whoopi Goldberg': 15,
 'Dan Hedaya': 15,
 'Sean Penn': 15,
 'Russell Crowe': 15,
 'Tom Wilkinson': 15,
 'Kathy Bates': 15,
 'Dan Aykroyd': 15,
 'Charlie Sheen': 15,
 'Hugh Jackman': 15,
 'Justin Long': 15,
 'Oliver Platt': 15,
 'James Remar': 15,
 'Jonah Hill': 15,
 'Elizabeth Banks': 15,
 'Steve Zahn': 15,
 'Ben Stiller': 15,
 'Eddie Murphy': 15,
 'Brad Pitt': 15,
 'Kirsten Dunst': 15,
 'John Michael Higgins': 14,
 'Kevin Spacey': 14,
 'Toni Collette': 14,
 'Philip Baker Hall': 14,
 'Cliff Curtis': 14,
 'Daniel Craig': 14,
 'James Gandolfini': 14,
 'John Hawkes': 14,
 'Richard Gere': 14,
 'Viola Davis': 14,
 'Ian McKellen': 14,
 'Marisa Tomei': 14,
 'Scarlett Johansson': 14,
 'Bruce Greenwood': 14,
 'Adam Sandler': 14,
 'Kiefer Sutherland': 14,
 'Robert Redford': 14,
 'Jim Carrey': 14,
 'Nick Nolte': 14,
 'Jeff Daniels': 14,
 'Laurence Fishburne': 14,
 'Jeff Bridges': 14,
 'Nicole Kidman': 14,
 'Aaron Eckhart': 14,
 'Rachel Weisz': 14,
 'Olivia Wilde': 14,
 'Ron Perlman': 14,
 'Ben Kingsley': 14,
 'Dean Norris': 14,
 'Antonio Banderas': 14,
 'Danny Huston': 14,
 'Terence Stamp': 14,
 'Pierce Brosnan': 14,
 'Charlize Theron': 14,
 'Adam Scott': 13,
 'Jane Lynch': 13,
 'Cameron Diaz': 13,
 'William Hurt': 13,
 'Amanda Peet': 13,
 'Elijah Wood': 13,
 'Dustin Hoffman': 13,
 'Harry Dean Stanton': 13,
 'Stephen Root': 13,
 'Judi Dench': 13,
 'Jeffrey Wright': 13,
 'Bette Midler': 13,
 'Sean Bean': 13,
 'Hugo Weaving': 13,
 'Christopher Lee': 13,
 'Bill Paxton': 13,
 'Jeremy Piven': 13,
 'Chlo√´ Grace Moretz': 13,
 'Greg Kinnear': 13,
 'Halle Berry': 13,
 'Mickey Rourke': 13,
 'Jamie Bell': 13,
 'Octavia Spencer': 13,
 'Milla Jovovich': 13,
 'Angela Bassett': 13,
 'Seth Green': 13,
 'Jon Voight': 13,
 'John Ratzenberger': 13,
 'Geoffrey Rush': 13,
 'Alfred Molina': 13,
 'Kathryn Hahn': 13,
 'Zoe Saldana': 13,
 'Beth Grant': 13,
 'Danny Trejo': 13,
 'Mark Ruffalo': 13,
 'Kevin Costner': 13,
 'Luis Guzm√°n': 13,
 'John Malkovich': 13,
 'Paul Giamatti': 13,
 'Timothy Olyphant': 13,
 'Mike Starr': 13,
 'Diane Lane': 13,
 'Wesley Snipes': 13,
 'Dennis Haysbert': 13,
 'Mark Strong': 13,
 'Anthony Hopkins': 13,
 'John Travolta': 12,
 'Frank Grillo': 12,
 'Rance Howard': 12,
 'Charlton Heston': 12,
 'Diane Keaton': 12,
 'Jay Leno': 12,
 'Michael Madsen': 12,
 'Channing Tatum': 12,
 'Eva Mendes': 12,
 'Stacy Keach': 12,
 'James Caan': 12,
 'John Lithgow': 12,
 'Helen Mirren': 12,
 'Laura Linney': 12,
 'Joe Pantoliano': 12,
 'Naomi Watts': 12,
 'Jennifer Connelly': 12,
 'Matthew Broderick': 12,
 'Tim Robbins': 12,
 'Giovanni Ribisi': 12,
 'Jamie Foxx': 12,
 'Winona Ryder': 12,
 'Tilda Swinton': 12,
 'Jennifer Lopez': 12,
 "Vincent D'Onofrio": 12,
 'Brian Dennehy': 12,
 'Benicio del Toro': 12,
 'Jim Belushi': 12,
 'Terry Crews': 12,
 'Michael Douglas': 12,
 'John Cleese': 12,
 'Frank Langella': 12,
 'Robert Patrick': 12,
 'Sandra Bullock': 12,
 'Gwyneth Paltrow': 12,
 'Ashley Judd': 12,
 'Rosario Dawson': 12,
 'Meg Ryan': 12,
 'Eddie Marsan': 12,
 "Denis O'Hare": 12,
 'Jim Cummings': 12,
 'Al Pacino': 12,
 'Joaquin Phoenix': 12,
 'Glenn Morshower': 12,
 'Ken Jeong': 12,
 'Val Kilmer': 12,
 'Brad Dourif': 12,
 'Anthony Mackie': 12,
 'Kathy Baker': 12,
 'Clint Eastwood': 12,
 'Richard E. Grant': 12,
 'Ryan Gosling': 12,
 'Tim Curry': 11,
 'Eugene Levy': 11,
 'Rachael Harris': 11,
 'James Cromwell': 11,
 'Cillian Murphy': 11,
 'Bill Nighy': 11,
 'Steve Martin': 11,
 'Vin Diesel': 11,
 'Jackie Chan': 11,
 'Amy Adams': 11,
 'Judy Greer': 11,
 'Ice Cube': 11,
 'Frances Conroy': 11,
 'Jessica Chastain': 11,
 'Bill Pullman': 11,
 'Viggo Mortensen': 11,
 'John C. McGinley': 11,
 'Joseph Gordon-Levitt': 11,
 'Michael Pe√±a': 11,
 'Famke Janssen': 11,
 'Idris Elba': 11,
 'David Jensen': 11,
 'Michelle Rodriguez': 11,
 'Desmond Llewelyn': 11,
 'Edward Norton': 11,
 'Kurt Fuller': 11,
 'Ciar√°n Hinds': 11,
 'Thomas Haden Church': 11,
 'Melissa McCarthy': 11,
 'William Fichtner': 11,
 'Joe Chrest': 11,
 'Michael Papajohn': 11,
 'Josh Brolin': 11,
 'Barry Pepper': 11,
 'Robbie Coltrane': 11,
 'Djimon Hounsou': 11,
 'Toby Jones': 11,
 'Tony Shalhoub': 11,
 'Gabriel Byrne': 11,
 'Cary Elwes': 11,
 'Matthew McConaughey': 11,
 'Bill Hader': 11,
 'Wallace Shawn': 11,
 'Guy Pearce': 11,
 'Melissa Leo': 11,
 'Drew Barrymore': 11,
 'Ren√©e Zellweger': 11,
 'Jack Black': 11,
 'Natalie Portman': 11,
 'Paul Rudd': 11,
 'Michael Keaton': 11,
 'Stellan Skarsg√•rd': 11,
 'Jennifer Coolidge': 10,
 'Paul Dooley': 10,
 'Bradley Whitford': 10,
 'Uma Thurman': 10,
 'Cedric the Entertainer': 10,
 'Max von Sydow': 10,
 'Rachel McAdams': 10,
 'Felicity Jones': 10,
 'Kristin Scott Thomas': 10,
 'Jason Flemyng': 10,
 'Heather Graham': 10,
 'Josh Pais': 10,
 'Dermot Mulroney': 10,
 'Elias Koteas': 10,
 'Vera Farmiga': 10,
 'Keira Knightley': 10,
 'Bruce Campbell': 10,
 'Delroy Lindo': 10,
 'Don Cheadle': 10,
 'Holly Hunter': 10,
 'Emily Watson': 10,
 'Billy Bob Thornton': 10,
 'Andy Serkis': 10,
 'Stephen Tobolowsky': 10,
 'Tony Goldwyn': 10,
 'Robert Prosky': 10,
 'Brion James': 10,
 'Dick Miller': 10,
 'Charles S. Dutton': 10,
 'James Marsden': 10,
 'Kim Basinger': 10,
 'Tom Sizemore': 10,
 'Will Ferrell': 10,
 'Lea Thompson': 10,
 'Olivia Williams': 10,
 'Burt Kwouk': 10,
 'Paul Walker': 10,
 'Cary-Hiroyuki Tagawa': 10,
 'John Ortiz': 10,
 'Anna Kendrick': 10,
 'Jon Hamm': 10,
 'Michael Kenneth Williams': 10,
 'Martin Landau': 10,
 'Julie Delpy': 10,
 'Michael Ironside': 10,
 'Joel Edgerton': 10,
 'Billy Burke': 10,
 'David Morse': 10,
 'Rosamund Pike': 10,
 'Emma Thompson': 10,
 'Thomas Kretschmann': 10,
 'Jason Clarke': 10,
 'Hal Holbrook': 10,
 'Stephen Fry': 10,
 'Missi Pyle': 10,
 'Woody Allen': 10,
 'Sam Elliott': 10,
 'Bob Gunton': 10,
 'Hugh Grant': 10,
 'Isla Fisher': 10,
 'Matt Craven': 10,
 'Bobby Cannavale': 10,
 'Paul Dano': 10,
 'Danny Glover': 10,
 'Kristen Wiig': 10,
 'Ethan Suplee': 10,
 'Michael Gambon': 10,
 'Michael Sheen': 10,
 'Vanessa Redgrave': 10,
 'Clint Howard': 10,
 'Toby Kebbell': 10,
 'David Thewlis': 10,
 'Geoffrey Lewis': 10,
 'Liev Schreiber': 10,
 'Jeremy Renner': 10,
 'Scott Glenn': 10,
 'Anjelica Huston': 10,
 'Loretta Devine': 10,
 'Gerard Butler': 10,
 'Shia LaBeouf': 10,
 'Lili Taylor': 10,
 'Cloris Leachman': 10,
 'Christian Slater': 9,
 'H√©ctor Elizondo': 9,
 'Larry Miller': 9,
 'Caroline Goodall': 9,
 'Abigail Breslin': 9,
 'Michael McKean': 9,
 'Parker Posey': 9,
 'Bill Cobbs': 9,
 'Joe Spinell': 9,
 'Ed Lauter': 9,
 'John Cho': 9,
 'Tim Blake Nelson': 9,
 'Ralph Fiennes': 9,
 'Jared Harris': 9,
 'Richard Bradford': 9,
 'Juliette Binoche': 9,
 'Patrick Dempsey': 9,
 'Richard Harris': 9,
 'James Coburn': 9,
 'Paul Newman': 9,
 'George Kennedy': 9,
 'Joe Don Baker': 9,
 'Benjamin Bratt': 9,
 'Queen Latifah': 9,
 'Seann William Scott': 9,
 'Alan Tudyk': 9,
 'Bruce Dern': 9,
 'Margo Martindale': 9,
 'Tony Curtis': 9,
 'Peter Falk': 9,
 'Kevin Kline': 9,
 'Jean-Claude Van Damme': 9,
 'Adrien Brody': 9,
 'Kris Kristofferson': 9,
 'Tommy Lee Jones': 9,
 'Christopher Mintz-Plasse': 9,
 "Michael O'Keefe": 9,
 'Burt Reynolds': 9,
 'E.G. Daily': 9,
 'Roy Scheider': 9,
 'Mary Ellen Trainor': 9,
 'Brent Briscoe': 9,
 'Dolph Lundgren': 9,
 'Josh Lucas': 9,
 'Maggie Gyllenhaal': 9,
 'Miranda Richardson': 9,
 'January Jones': 9,
 'Orlando Bloom': 9,
 'Ian Holm': 9,
 'Lance Henriksen': 9,
 'Jet Li': 9,
 'Radha Mitchell': 9,
 'Gary Cole': 9,
 'Zach Galifianakis': 9,
 'Michelle Monaghan': 9,
 'Hank Azaria': 9,
 'Jon Favreau': 9,
 'Alan Cumming': 9,
 'Anna Paquin': 9,
 'Alan Arkin': 9,
 'Rosanna Arquette': 9,
 'Chris Evans': 9,
 'Ewen Bremner': 9,
 'Sharon Stone': 9,
 'Leonardo DiCaprio': 9,
 'Rosemarie DeWitt': 9,
 'Luke Wilson': 9,
 'Rebel Wilson': 9,
 'Shea Whigham': 9,
 'Billy Slaughter': 9,
 'Patrick Swayze': 9,
 'Tate Donovan': 9,
 'Jack McGee': 9,
 'Patrick Malahide': 9,
 'Sam Worthington': 9,
 'Patricia Clarkson': 9,
 'Marshall Bell': 9,
 'Kristen Stewart': 9,
 'Jena Malone': 9,
 'Molly Shannon': 9,
 'Richard Schiff': 9,
 'Charles Dance': 9,
 'Shane Rimmer': 9,
 'Derek Luke': 9,
 'Fred Ward': 9,
 'Kate Winslet': 9,
 'Eddie Izzard': 9,
 'Rebecca De Mornay': 9,
 'J.D. Evermore': 9,
 'Michael Rispoli': 9,
 'Jenifer Lewis': 9,
 'Amy Ryan': 9,
 'Maria Bello': 9,
 'David Paymer': 9,
 'Jeffrey Tambor': 9,
 'John Gielgud': 9,
 'Pen√©lope Cruz': 9,
 'Jason Isaacs': 9,
 'Gary Busey': 9,
 'John Heard': 9,
 'Will Patton': 9,
 'Victor Argo': 9,
 'Jude Law': 9,
 'Tom Waits': 9,
 'Allen Covert': 9,
 'Josh Duhamel': 9,
 'Anna Faris': 9,
 'Kevin McNally': 9,
 'David Krumholtz': 9,
 'Xander Berkeley': 9,
 'Rob Riggle': 9,
 'Robert Picardo': 9,
 'Joey King': 9,
 'Edward Herrmann': 9,
 'Mark Margolis': 9,
 'Marlon Brando': 9,
 'Bess Flowers': 9,
 "Terry O'Quinn": 9,
 'Ben Foster': 9,
 'John Carroll Lynch': 9,
 'John Wayne': 9,
 'Helena Bonham Carter': 9,
 'Christopher Fairbank': 9,
 'Jonathan Pryce': 9,
 'Steve Carell': 9,
 'Holt McCallany': 9,
 'Ellen Page': 9,
 'F. Murray Abraham': 9,
 'Clancy Brown': 9,
 'Alan Rickman': 9,
 'Casey Affleck': 9,
 'Leslie Mann': 9,
 'Marco Perella': 9,
 'John Krasinski': 9,
 'Ryan Reynolds': 9,
 'Fiona Shaw': 9,
 'Carrie Fisher': 9,
 'Lee Garlington': 9,
 'Catherine Zeta-Jones': 9,
 'Michael Rooker': 9,
 'Patton Oswalt': 9,
 'Caroline Aaron': 9,
 'Giancarlo Esposito': 9,
 'Chevy Chase': 8,
 'Jeffrey Dean Morgan': 8,
 'Kyra Sedgwick': 8,
 'Robert Carradine': 8,
 'Anthony Edwards': 8,
 'James Hong': 8,
 'Annette Bening': 8,
 'Lois Smith': 8,
 'Tom Hollander': 8,
 'Rick Overton': 8,
 'Cuba Gooding Jr.': 8,
 'Josh Peck': 8,
 'Jess Harnell': 8,
 'Jennifer Jason Leigh': 8,
 'Pat Hingle': 8,
 'Burt Lancaster': 8,
 'Fisher Stevens': 8,
 'Dave Franco': 8,
 'Brian Doyle-Murray': 8,
 'Charles Durning': 8,
 'Dash Mihok': 8,
 'Candice Bergen': 8,
 'Frankie Faison': 8,
 'Michael Fassbender': 8,
 'Paul Bettany': 8,
 'Brendan Fraser': 8,
 'Jeremy Northam': 8,
 'Stacey Travis': 8,
 'Ben Whishaw': 8,
 'Marton Csokas': 8,
 'M.C. Gainey': 8,
 'Harris Yulin': 8,
 'Wayne Knight': 8,
 'Dom DeLuise': 8,
 'Juliette Lewis': 8,
 'Matt Walsh': 8,
 'Simon Pegg': 8,
 'Richard Crenna': 8,
 'Woody Strode': 8,
 'Joe Mantegna': 8,
 'J.T. Walsh': 8,
 'Robert Wagner': 8,
 'Robert Davi': 8,
 'Frank McRae': 8,
 'Noah Emmerich': 8,
 'Kieran Culkin': 8,
 'Rob Schneider': 8,
 'Chris Rock': 8,
 'Thomas Lennon': 8,
 'Tom Hardy': 8,
 'Ann Dowd': 8,
 'Sam Shepard': 8,
 'Jeff Goldblum': 8,
 'Richard Dreyfuss': 8,
 'Vincent Cassel': 8,
 'Tom Kenny': 8,
 'Martin Short': 8,
 'Vinnie Jones': 8,
 'Zach Grenier': 8,
 'David Niven': 8,
 'Maury Chaykin': 8,
 'Jake Gyllenhaal': 8,
 'Robin Wright': 8,
 'Josh Hutcherson': 8,
 'Emile Hirsch': 8,
 'Marcia Gay Harden': 8,
 'Danielle Harris': 8,
 'Peter Jason': 8,
 'Emma Stone': 8,
 'Sergey Garmash': 8,
 'Kristy Swanson': 8,
 'Stephen Lang': 8,
 'Stephen Graham': 8,
 'John Sessions': 8,
 'Lindsay Lohan': 8,
 'Willie Garson': 8,
 'Jeremy Sisto': 8,
 'Salma Hayek': 8,
 'Lukas Haas': 8,
 'Peter Boyle': 8,
 'Victor Garber': 8,
 'Miriam Margolyes': 8,
 'Jessica Alba': 8,
 'Logan Lerman': 8,
 'Aasif Mandvi': 8,
 'Eric Stoltz': 8,
 'Tom Lister Jr.': 8,
 'Dominic West': 8,
 'Colin Salmon': 8,
 'Breckin Meyer': 8,
 'Albert Finney': 8,
 'Frances McDormand': 8,
 'Pip Torrens': 8,
 'Ryan Phillippe': 8,
 'Kevin Nealon': 8,
 'Rita Wilson': 8,
 'Michael Biehn': 8,
 'Evan Rachel Wood': 8,
 'J√ºrgen Prochnow': 8,
 'Andy Garc√≠a': 8,
 'Corey Johnson': 8,
 'Dean Stockwell': 8,
 'Don McManus': 8,
 'Andrea Martin': 8,
 'Dianne Wiest': 8,
 'John Mahoney': 8,
 'Nick Offerman': 8,
 'Tch√©ky Karyo': 8,
 'Josh Gad': 8,
 'Romany Malco': 8,
 'Kelly Preston': 8,
 'Domenick Lombardozzi': 8,
 'Katherine Heigl': 8,
 'Isabella Rossellini': 8,
 'Barbara Hershey': 8,
 'Shah Rukh Khan': 8,
 'Stan Lee': 8,
 'Jane Fonda': 8,
 'Roger Allam': 8,
 'Kevin Pollak': 8,
 'Ned Beatty': 8,
 'Reese Witherspoon': 8,
 'Art LaFleur': 8,
 'Jennifer Aniston': 8,
 'Tyrese Gibson': 8,
 'Jennifer Tilly': 8,
 'Seth Rogen': 8,
 'Rutger Hauer': 8,
 'Edgar Ram√≠rez': 8,
 'Joe Lo Truglio': 8,
 'M. Emmet Walsh': 8,
 'Wayne P√©re': 8,
 'Michael J. Fox': 8,
 'Regina King': 8,
 'Jason Lee': 8,
 'Jane Krakowski': 8,
 'Karen Allen': 8,
 'Ian McShane': 8,
 'Matt Dillon': 8,
 'Nora Dunn': 8,
 'Dylan Baker': 8,
 'Zeljko Ivanek': 8,
 'Clea DuVall': 8,
 'Scoot McNairy': 8,
 'Craig Robinson': 7,
 'Anne Hathaway': 7,
 'Julie Andrews': 7,
 'John Rhys-Davies': 7,
 'Chris Pine': 7,
 'Chris Mulkey': 7,
 "Catherine O'Hara": 7,
 'Talia Shire': 7,
 'Carl Weathers': 7,
 'Debi Mazar': 7,
 'Matthew Modine': 7,
 'Mimi Rogers': 7,
 'Lennie James': 7,
 'Christopher Lloyd': 7,
 'Leonard Nimoy': 7,
 'Orson Welles': 7,
 'Sydney Pollack': 7,
 'John Benjamin Hickey': 7,
 'Isaach De Bankol√©': 7,
 'Tzi Ma': 7,
 'Kate Hudson': 7,
 'Rupert Everett': 7,
 'Josef Sommer': 7,
 'Illeana Douglas': 7,
 'Cynthia Nixon': 7,
 'Walton Goggins': 7,
 'Cheryl Hines': 7,
 'Malcolm McDowell': 7,
 'Jack Lemmon': 7,
 'Elliott Gould': 7,
 'John P. Ryan': 7,
 'Mike Epps': 7,
 'Imogen Poots': 7,
 'Ajith Kumar': 7,
 'Tracey Walter': 7,
 'Jason Schwartzman': 7,
 'Bridgette Wilson': 7,
 'Grant Heslov': 7,
 'R. Lee Ermey': 7,
 'Michael Bowen': 7,
 'Robert Forster': 7,
 'James Cosmo': 7,
 'Michael Byrne': 7,
 'Brittany Murphy': 7,
 'Ron Livingston': 7,
 'Peter Fonda': 7,
 'Kurtwood Smith': 7,
 'Isaiah Washington': 7,
 'Anthony Anderson': 7,
 'Katie Holmes': 7,
 'Chelcie Ross': 7,
 'Kenneth Welsh': 7,
 'Bernie Mac': 7,
 'Steve Coogan': 7,
 'Keegan-Michael Key': 7,
 'Chuck Norris': 7,
 'David Spade': 7,
 'Michael Winslow': 7,
 'Bonnie Hunt': 7,
 'Ralph Brown': 7,
 'Roger Rees': 7,
 'Mark Boone Junior': 7,
 'Emily Blunt': 7,
 'Stephen Rea': 7,
 'Lindsay Crouse': 7,
 'Ted Levine': 7,
 'Bill McKinney': 7,
 'John Candy': 7,
 'Kate Beckinsale': 7,
 'Paul Reubens': 7,
 'Martin Donovan': 7,
 'Beau Bridges': 7,
 'Fred Tatasciore': 7,
 'Kelsey Grammer': 7,
 'Kate Mara': 7,
 'Akshay Kumar': 7,
 'Blake Clark': 7,
 'James Rebhorn': 7,
 'Pruitt Taylor Vince': 7,
 'Simon Callow': 7,
 'Michael Clarke Duncan': 7,
 'William Sadler': 7,
 'Geraldine Chaplin': 7,
 'David Strathairn': 7,
 'Bruno Ganz': 7,
 'Peter Ustinov': 7,
 'Maggie Smith': 7,
 'David Andrews': 7,
 'Harry Carey, Jr.': 7,
 'Jack Thibeau': 7,
 'Jake Johnson': 7,
 'Lee Pace': 7,
 'Chris Messina': 7,
 'Javier Bardem': 7,
 'Ned Bellamy': 7,
 'James McAvoy': 7,
 "Sean O'Bryan": 7,
 'Danny Mann': 7,
 'Domhnall Gleeson': 7,
 'Mahershala Ali': 7,
 'Tom Arnold': 7,
 'Daniel Day-Lewis': 7,
 'Tim Pigott-Smith': 7,
 'Derek Mears': 7,
 'Amanda Seyfried': 7,
 'Tobey Maguire': 7,
 'Kerry Washington': 7,
 'Angelina Jolie': 7,
 'Imelda Staunton': 7,
 'Nathan Lane': 7,
 'Graham McTavish': 7,
 'Phoebe Cates': 7,
 'Donnie Yen': 7,
 'Jay O. Sanders': 7,
 'Sam Neill': 7,
 'Naomie Harris': 7,
 'Lois Maxwell': 7,
 'Rick Moranis': 7,
 'Wyatt Russell': 7,
 'Jake Abel': 7,
 'Tom McCarthy': 7,
 'Prakash Raj': 7,
 'Marion Cotillard': 7,
 'Gina Gershon': 7,
 'Teri Garr': 7,
 'Aaron Taylor-Johnson': 7,
 'Will Yun Lee': 7,
 'Konstantin Khabenskiy': 7,
 'Colin Hanks': 7,
 'Debra Monk': 7,
 'Kevin Hart': 7,
 'Matthew Lillard': 7,
 'Powers Boothe': 7,
 'Ellen Barkin': 7,
 'Mykelti Williamson': 7,
 'Luke Evans': 7,
 'Virginia Madsen': 7,
 'David Wenham': 7,
 'Richard Masur': 7,
 'Paul Guilfoyle': 7,
 'Edward Burns': 7,
 'Tom Skerritt': 7,
 'Mary Steenburgen': 7,
 'Ben Mendelsohn': 7,
 'Ed Helms': 7,
 'Alfre Woodard': 7,
 'Kate Bosworth': 7,
 'Sissy Spacek': 7,
 'Joanna Cassidy': 7,
 'Eric Roberts': 7,
 'Ernie Lively': 7,
 'Kevin James': 7,
 'Jon Lovitz': 7,
 'Dylan Kenin': 7,
 'Michael Wincott': 7,
 'Simon McBurney': 7,
 'Claire Forlani': 7,
 'Richard Roundtree': 7,
 'Dane Rhodes': 7,
 'Teresa Palmer': 7,
 'Rory Cochrane': 7,
 'Nicky Katt': 7,
 'Taye Diggs': 7,
 'Ray Winstone': 7,
 'Michelle Pfeiffer': 7,
 'Jennifer Garner': 7,
 'Donald Faison': 7,
 'Bryan Cranston': 7,
 'Rufus Sewell': 7,
 'Walter Gotell': 7,
 'Timothy Spall': 7,
 'Sandra Oh': 7,
 'Tom Bower': 7,
 'Janeane Garofalo': 7,
 'Dax Shepard': 7,
 'Peter Dinklage': 7,
 'Emma Watson': 7,
 'Kenny Baker': 7,
 'Melanie Lynskey': 7,
 'Mary Elizabeth Winstead': 7,
 'Natasha Lyonne': 7,
 'Om Puri': 7,
 "Beverly D'Angelo": 7,
 'John DiMaggio': 7,
 'Josh Hartnett': 7,
 'Andrew Daly': 7,
 'Michael Gaston': 7,
 'Ritchie Montgomery': 7,
 'Shawn Hatosy': 7,
 'Lisa Kudrow': 7,
 'Rene Auberjonois': 7,
 'Emily Mortimer': 7,
 'Pam Grier': 7,
 'Randy Quaid': 7,
 'Rade Serbedzija': 7,
 'Bob Hoskins': 7,
 'Adam LeFevre': 7,
 'Carol Kane': 7,
 'Dexter Fletcher': 7,
 'Gregory Hines': 7,
 'Robert Loggia': 7,
 'Richard Kind': 7,
 'Billy Crystal': 7,
 'Troy Evans': 7,
 'Peter Jacobson': 7,
 'David Bradley': 7,
 'Anna Levine': 7,
 'Jeremy Strong': 7,
 'Clifton Collins Jr': 7,
 'Ron Eldard': 7,
 'Tim Matheson': 7,
 'Gerry Becker': 7,
 'Josh Mostel': 7,
 'Jim Caviezel': 7,
 'Olivia Thirlby': 7,
 'Alan Alda': 7,
 'Joan Cusack': 7,
 'Martin Sheen': 7,
 'Jeffrey DeMunn': 7,
 'Michael Murphy': 7,
 'John Huston': 7,
 'Dennis Franz': 7,
 'Kevin Durand': 7,
 'Raymond J. Barry': 7,
 'Josh Charles': 7,
 'Terrence Howard': 7,
 'Mila Kunis': 7,
 'Clark Duke': 6,
 'Miles Teller': 6,
 'Jay Brazeau': 6,
 'Billy Connolly': 6,
 'Bob Balaban': 6,
 'Ed Begley Jr.': 6,
 'Michael Mantell': 6,
 'Burt Young': 6,
 'Mena Suvari': 6,
 'Scott Adsit': 6,
 'Steve Harris': 6,
 'George Wallace': 6,
 'Jeanine Jackson': 6,
 'Edward Fox': 6,
 'Veronica Cartwright': 6,
 'Ricky Jay': 6,
 'Rafe Spall': 6,
 'Peter Cullen': 6,
 'Corey Burton': 6,
 'Chris Tucker': 6,
 'Hiroyuki Sanada': 6,
 'Dana Ivey': 6,
 'Robert John Burke': 6,
 "Frances O'Connor": 6,
 'Dale Dye': 6,
 'Anthony Zerbe': 6,
 'Madonna': 6,
 'Neil Patrick Harris': 6,
 'Sterling Jerins': 6,
 'Denis Leary': 6,
 'Quentin Tarantino': 6,
 'Mary Lynn Rajskub': 6,
 'Laura Dern': 6,
 'David Warshofsky': 6,
 'William Shatner': 6,
 'Alan Ruck': 6,
 'Lane Smith': 6,
 "Chris O'Donnell": 6,
 'Alicia Silverstone': 6,
 'John Glover': 6,
 'Roger Guenveur Smith': 6,
 'Kane Hodder': 6,
 'Will Forte': 6,
 'June Squibb': 6,
 'Gregory Peck': 6,
 'Lucas Black': 6,
 'Angus MacInnes': 6,
 'Iggy Pop': 6,

In [ ]:
def get_list_of_actors(list_of_cast):
  actor_list = []
  for cast in list_of_cast:
    actor_list.append(cast['name'])
  return actor_list

In [ ]:
df_cast['actor_list'] = df_cast['cast'].apply(get_list_of_actors)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def check_actor_in_list(row):
  if actor in row:
    return 1
  else: return 0

In [ ]:
actor = 'Samuel L. Jackson'
#  'Robert De Niro': 30,
#  'Morgan Freeman': 27,

In [ ]:
actor = 'Samuel L. Jackson'
df_cast['samuel'] = df_cast['actor_list'].apply(check_actor_in_list)
actor = 'Robert De Niro'
df_cast['robert'] = df_cast['actor_list'].apply(check_actor_in_list)
actor = 'Morgan Freeman'
df_cast['morgan'] = df_cast['actor_list'].apply(check_actor_in_list)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_cast[df_cast['samuel'] ==1][['title', 'actor_list', 'samuel']]

,title,actor_list,samuel
29,Changing Lanes,"[Ben Affleck, Samuel L. Jackson, Kim Staunton,...",1
47,The Hateful Eight,"[Samuel L. Jackson, Kurt Russell, Jennifer Jas...",1
642,Coming to America,"[Eddie Murphy, Arsenio Hall, James Earl Jones,...",1
689,Star Wars: Episode III - Revenge of the Sith,"[Ewan McGregor, Natalie Portman, Hayden Christ...",1
1055,Meeting Evil,"[Leslie Bibb, Samuel L. Jackson, Luke Wilson, ...",1
1126,The Avengers,"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...",1
1181,Jumper,"[Hayden Christensen, Jamie Bell, Samuel L. Jac...",1
1426,Shaft,"[Samuel L. Jackson, Jeffrey Wright, Christian ...",1
1482,Snakes on a Plane,"[Samuel L. Jackson, Julianna Margulies, Kenan ...",1
1585,The Man,"[Samuel L. Jackson, Eugene Levy, Luke Goss, Mi...",1
1717,RoboCop,"[Joel Kinnaman, Gary Oldman, Michael Keaton, A...",1
1735,Jurassic Park,"[Sam Neill, Laura Dern, Jeff Goldblum, Richard...",1
1773,Cell,"[John Cusack, Samuel L. Jackson, Isabelle Fuhr...",1
1818,Star Wars: Episode II - Attack of the Clones,"[Ewan McGregor, Natalie Portman, Hayden Christ...",1
1853,Eddie Murphy Raw,"[Eddie Murphy, Tatyana Ali, Billie Allen, Eyde...",1
1861,Captain America: The Winter Soldier,"[Chris Evans, Samuel L. Jackson, Scarlett Joha...",1
1916,Jackie Brown,"[Pam Grier, Samuel L. Jackson, Robert Forster,...",1
1918,African Cats,[Samuel L. Jackson],1
1970,Big Game,"[Samuel L. Jackson, Onni Tommila, Ted Levine, ...",1
2214,Black Snake Moan,"[Samuel L. Jackson, Christina Ricci, Justin Ti...",1
2243,Sea of Love,"[Al Pacino, Ellen Barkin, John Goodman, Michae...",1
2424,Deep Blue Sea,"[Thomas Jane, Saffron Burrows, LL Cool J, Mich...",1
2544,Basic,"[John Travolta, Connie Nielsen, Samuel L. Jack...",1
2739,The Incredibles,"[Craig T. Nelson, Holly Hunter, Samuel L. Jack...",1
2770,Avengers: Age of Ultron,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",1
2782,Out of Sight,"[George Clooney, Jennifer Lopez, Ving Rhames, ...",1
2898,Patriot Games,"[Harrison Ford, Anne Archer, Patrick Bergin, T...",1
2984,S.W.A.T.,"[Samuel L. Jackson, Colin Farrell, Michelle Ro...",1
2985,Freedomland,"[Samuel L. Jackson, Julianne Moore, Edie Falco...",1
2997,The Long Kiss Goodnight,"[Geena Davis, Samuel L. Jackson, Yvonne Zima, ...",1